In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import seaborn as sns

In [2]:
filename1='test.csv'
filename2='train.csv'
df1=pd.read_csv(filename1)
df2=pd.read_csv(filename2)

In [3]:
df1.head(10) # displaying first 10 rows of test case

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,4,A,B,A,A,A,A,A,A,B,...,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,0.377724,0.369858,0.704052,0.392562
1,6,A,B,A,B,A,A,A,A,B,...,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,0.689039,0.675759,0.453468,0.208045
2,9,A,B,A,B,B,A,B,A,B,...,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,0.245410,0.241676,0.258586,0.297232
3,12,A,A,A,A,B,A,A,A,A,...,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,0.348867,0.341872,0.592264,0.555955
4,15,B,A,A,A,A,B,A,A,A,...,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,0.359572,0.352251,0.301535,0.825823
5,17,A,A,A,A,B,A,A,A,A,...,0.643315,0.407351,0.390540,0.46477,0.46853,0.50556,0.607500,0.594646,0.250991,0.283976
6,21,B,A,A,A,B,B,A,A,A,...,0.281143,0.960845,0.740081,0.75964,0.98330,0.82249,0.863052,0.879347,0.888944,0.787807
7,28,B,B,A,A,A,A,A,A,B,...,0.651246,0.451115,0.316313,0.27320,0.52100,0.50556,0.415029,0.481306,0.199940,0.450597
8,32,A,B,A,A,A,A,A,A,B,...,0.534484,0.343492,0.358758,0.81900,0.32128,0.36458,0.453334,0.443374,0.695650,0.295075
9,43,A,B,A,A,A,A,A,A,B,...,0.281143,0.394921,0.287416,0.92347,0.48320,0.24766,0.359572,0.352251,0.519989,0.602666

In [4]:
df2.head(10)

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85
5,13,A,B,A,A,A,A,A,A,B,...,0.364464,0.401162,0.26847,0.46226,0.50556,0.366788,0.359249,0.345247,0.726792,5142.87
6,14,A,A,A,A,B,A,A,A,A,...,0.381515,0.363768,0.24564,0.40455,0.47225,0.334828,0.352251,0.342239,0.382931,1132.22
7,20,A,B,A,B,A,A,A,A,B,...,0.867021,0.583389,0.90267,0.84847,0.80218,0.644013,0.785706,0.859764,0.242416,3585.75
8,23,A,B,B,B,B,A,A,A,B,...,0.628534,0.384099,0.61229,0.38249,0.51111,0.682315,0.669033,0.756454,0.361191,10280.20
9,24,A,B,A,A,B,B,A,A,B,...,0.713343,0.469223,0.30260,0.67135,0.83510,0.863052,0.879347,0.822493,0.294523,6184.59

In [5]:
df1.describe()

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
count,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000,125546.000000
mean,294067.153442,0.494447,0.506939,0.498255,0.492334,0.487640,0.492188,0.485945,0.487401,0.486015,0.498909,0.494360,0.494033,0.495086,0.495586
std,170098.335649,0.187961,0.206837,0.201746,0.210815,0.209119,0.205574,0.178650,0.199549,0.182134,0.185950,0.210399,0.210148,0.213108,0.222613
min,4.000000,0.000016,0.001149,0.002634,0.176921,0.281143,0.012683,0.069503,0.236880,0.000080,0.000000,0.035321,0.036232,0.000228,0.178568
25%,146414.250000,0.347403,0.358319,0.336963,0.327354,0.281143,0.336105,0.352087,0.317960,0.358970,0.364580,0.310961,0.318249,0.315758,0.294752
50%,294306.000000,0.475784,0.555782,0.527991,0.452887,0.422268,0.441525,0.438893,0.441060,0.441450,0.466720,0.457203,0.462286,0.363547,0.406104
75%,441800.000000,0.626630,0.681761,0.634224,0.652072,0.643315,0.659261,0.591284,0.629180,0.568890,0.619840,0.678924,0.682413,0.689974,0.724791
max,587634.000000,0.984975,0.862654,0.944251,0.956046,0.983107,0.997162,1.000000,0.982800,0.995400,0.994980,0.997830,0.997416,0.988494,0.844814

In [6]:
df1.dtypes # checking types of variable in test dataset

id          int64
cat1       object
cat2       object
cat3       object
cat4       object
           ...
cont10    float64
cont11    float64
cont12    float64
cont13    float64
cont14    float64
Length: 131, dtype: object

In [7]:
dataset = pd.get_dummies(df2)
datasetTest = pd.get_dummies(df1)

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188318 entries, 0 to 188317
Columns: 1155 entries, id to cat116_Y
dtypes: float64(15), int64(1), uint8(1139)
memory usage: 227.5 MB

In [9]:
crc = dataset.corrwith(dataset['loss'])

In [10]:
crc[~crc.between(-.5,.5,)].index

Index(['loss'], dtype='object')

In [11]:

datasetTrain = dataset[['cat1_A', 'cat1_B', 'cat2_A', 'cat2_B', 'cat7_A', 'cat7_B',
       'cat9_A', 'cat9_B', 'cat10_A', 'cat10_B', 'cat11_A', 'cat11_B',
       'cat12_A', 'cat12_B', 'cat13_A', 'cat13_B', 'cat57_A', 'cat57_B',
       'cat72_A', 'cat72_B', 'cat79_B', 'cat79_D', 'cat80_B', 'cat80_D',
       'cat81_B', 'cat81_D', 'cat87_B', 'cat87_C', 'cat87_D', 'cat89_A',
       'cat89_B', 'cat101_A','loss', ]]

datasetTest = datasetTest[['cat1_A', 'cat1_B', 'cat2_A', 'cat2_B', 'cat7_A', 'cat7_B',
       'cat9_A', 'cat9_B', 'cat10_A', 'cat10_B', 'cat11_A', 'cat11_B',
       'cat12_A', 'cat12_B', 'cat13_A', 'cat13_B', 'cat57_A', 'cat57_B',
       'cat72_A', 'cat72_B', 'cat79_B', 'cat79_D', 'cat80_B', 'cat80_D',
       'cat81_B', 'cat81_D', 'cat87_B', 'cat87_C', 'cat87_D', 'cat89_A',
       'cat89_B', 'cat101_A']]

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [14]:
trainX,testX,trainY,testY = train_test_split(datasetTrain.iloc[:,:-1],datasetTrain.iloc[:,-1])

In [15]:
lin_reg = LinearRegression()
random_forest = RandomForestRegressor(n_estimators=50)
gradBoost = GradientBoostingRegressor()
svr = SVR()
knn = KNeighborsRegressor()

In [16]:
lin_reg.fit(trainX,trainY)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
random_forest.fit(trainX,trainY)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=50,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [ ]:
 svr.fit(trainX,trainY)

F:\Python\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [ ]:
 knn.fit(trainX,trainY)

In [17]:
gradBoost.fit(trainX,trainY)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [18]:
from sklearn.metrics import r2_score

In [19]:
linear_score = lin_reg.score(testX,testY)
rfr_score = random_forest.score(testX,testY)
gradboost_score = gradBoost.score(testX,testY)

In [20]:
print(linear_score)

0.38783774722818837

In [21]:
print(rfr_score)

0.366100434480619

In [22]:
gradboost_score

0.39484740002504154

In [23]:

#Scoring parameter
from sklearn.metrics import mean_absolute_error

In [42]:
yhat = lin_reg.predict(testX)
mae=mean_absolute_error(testY,yhat)
mae

1435.675474936279

In [53]:
with open("submission.csv", "w") as subfile:
    subfile.write("id,loss\n")
    for i, p in enumerate(list(yhat)):
        subfile.write("%s,%s\n"%(df1['id'][i],p))